.message {
  min-width: 10vw;
  max-width: 40vw;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  overflow: hidden;
}

.messageContainer {
  width: 100vw;
  overflow: auto;
}

.msgRight {
  margin-left: 55vw;
  float: left;
  background-color: #f5a83d;
}

.msgLeft {
  margin-right: 55vw;
  float: right;
}

.chatinput {
  position: fixed;
  width: 70vw;
  margin-left: 15vw;
  bottom: 0;
  padding: 1px;
}

.form-control:focus, .btn:focus {
  box-shadow: none;
  outline: none;
}

.navbar {
  background-color: #f6f6f6;
  margin-bottom: 2rem;
}
